/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -ms-animation-name: fade;
  -ms-animation-duration: 1.5s;
  -moz-animation-name: fade;
  -moz-animation-duration: 1.5s;
  -o-animation-name: fade;
  -o-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.spin {
  transform: rotate(180deg);
  transition-duration: 0.5s;
  -webkit-transform: rotate(180deg);
  -webkit-transition-duration: 0.5s;
  -ms-transform: rotate(180deg);
  -ms-transition-duration: 0.5s;
  -moz-transform: rotate(180deg);
  -moz-transition-duration: 0.5s;
  -o-transform: rotate(180deg);
  -o-transition-duration: 0.5s;
}
