$white: #ffffff;
$black: #000000;

$color_primary_home: #005F69;
$color_background_home: #009688;
$color_footer_home: #00454A;

$color_primary_work: #424242;
$color_background_work: #212121;

$color_primary_education: #03A9F4;
$color_background_education: #B3E5FC;
$color_footer_education: #01579B;

$color_primary_contact: #EEEEEE;
$color_background_contact: #9E9E9E;
$color_footer_contact: #424242;

$grey_border: #BDBDBD;
$black_border: #000000;
