@import 'color';

@media screen and (min-width: 450px) {

  .list-container {
    .card-list {
      .card-header {
        .image-project {
        }
        .card-title {
          max-width: 60%;
        }
        .see-more-icon {
        }
      }
        .card-text {
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .hero .slideshow-container .mySlides .carousel-title {
    font-size: 1.5em;
  }

  section .section-title {
    margin-left: 24px;
  }

  .list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .card-list {
      width: 45%;
      margin: 5px 5px;
      border: 1px solid $grey_border;
      .card-header {
        flex-direction: column;
        .image-project {
            border-radius: 0px;
            margin: 0 auto;
            height: 248px;
            width: 248px;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        .card-title {
          text-align: center;
          width: 95%;
          margin-top: 16px;
          margin-bottom: 16px;
        }
        .see-more-icon {
          display: none;
        }
      }
        .card-text {
          display: flex;
          flex-direction: column;
          margin-left: 32px;
          margin-top: 16px;
          margin-bottom: 16px;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .hero {
    padding: 0px 24px;
  }
  .hero .slideshow-container .mySlides .carousel-title {
    font-size: 3em;
  }

  section .section-title {
    margin-left: 36px;
  }

  .list-container {
    .card-list {
      .card-header {
        .image-project {
          height: 350px;
          width: 350px;
        }
        .card-title {
        font-size: 1.5em;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {

  .hero {
    padding: 0px 72px;
  }

  section .section-title {
    margin-left: 72px;
  }

  .list-container {
    .card-list {
      width: 30%;
      .card-header {
        .image-project {
          height: 250px;
          width: 250px;
        }
        .card-text p, .card-text li {
          font-size: 1.2em;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {

  body {
    padding: 0 72px;
  }
}
