
@import 'color';

* {box-sizing:border-box}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: $color_background_home;
  color: $white;
}

header {
  width: 100%;
  height: 3.5em;
  background-color: $color_primary_home;
}

/* Add a black background color to the top navigation */
.topnav {
  z-index: 9;
  background-color: $color_primary_home;
  overflow: hidden;
  width: 100%;
  .page-title {
    margin: 0 auto;
    width: 50%;
  }
  /* Style the links inside the navigation bar */
  a {
    float: left;
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  a:hover {
    background-color: $color_footer_home;
    color: $white;
  }
  a.nav-element.active {
    background-color: $color_background_home;
    color: $white;
  }
  /* Hide the link that should open and close the topnav on small screens */
  .icon {
    display: none;
  }
}

section {
  width: 100%;
  .section-title {
    margin-left: 16px;
  }
}

/*Caroussel*/

.hero {
  width: 100%;
  .mySlides.fade h2 {
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
  }
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    /* Hide the images by default */
    .mySlides {
      display: none;
      .caroussel-image {
        width: 100%;
      }
      /* Caption text */
      .carousel-title {
        color: $white;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        top: 8px;
        width: 100%;
        text-align: center;
      }
    }
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      text-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
      background-color: $color_primary_home;
    }
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: $color_primary_home;
      opacity: 0.7;
    }
  }
  .div-dot {
    text-align: center;
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: $white;
      border-radius: 50%;
      border: solid 1px $color_primary_home;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active-dot {
      background-color: $color_primary_home;
      border: solid 1px $white;
    }
    .dot:hover, .dot:active {
      background-color: $color_background_home;
      border: solid 1px $white;
    }
  }
}

.list-container {
  width: 100%;
  padding: 0px;
  vertical-align: center;
  .card-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background-color: $color_primary_home;
    padding: 8px 0px;
    margin: 8px 0px;
    list-style: none;
    border: 1px solid $grey_border;
    border-left: none;
    border-right: none;
      .card-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .image-project {
          vertical-align: middle;
          border: 1px solid $white;
          border-radius: 50%;
          width: 48px;
          height: 48px;
          margin: auto 16px;
          }
        .card-title {
          vertical-align: middle;
          min-width: 160px;
          max-width: 50%;
          font-size: 16px;
          margin: auto auto auto 16px;
        }
        .see-more-icon {
          margin: auto 16px auto auto;
          cursor: pointer;
          color: $white;
        }
      }

    h1, ul, p {
      opacity: 0.87;
    }
  }
}

.card-text {
  display: none;
  min-width: 160px;
  max-width: 95%;
  margin: 0px 32px 0px 72px;
  p, li {
    font-size: 12px;
  }
}

.visible {
  display: block;
}

footer {
  position: sticky;
  bottom: 2px;
  width: 100%;
  .nav-footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      margin: 0;
      a {
        text-decoration: none;
      }
      li {
      list-style: none;
      border: 1px solid $grey_border;
      background-color: $color_footer_home;
      width: 25%;
      .footer-div {
        display: flex;
        flex-direction: column;
        span {
          margin: auto;
          color: $white;
        }
      }
      .footer-div:hover  {
        opacity: 0.5;
      }
    }
  }
}

@media screen and (max-width: 799px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .nav-element {
    border-bottom: 1px solid $grey_border;
    font-size: 0.8em;
    opacity: 1;
    padding-top: 10px;
  }
}
