@import 'color', 'skeleton', 'animation', 'media-queries';

body, .topnav a.nav-element.active, header, .hero .div-dot .dot:hover, .hero .div-dot .dot:active {
  background-color: $color_background_work;
}

.topnav, .list-container .card-list, .hero .slideshow-container .prev, .hero .slideshow-container .next, .hero .slideshow-container .prev:hover, .hero .slideshow-container .next:hover {
  background-color: $color_primary_work;
}

footer .nav-footer li, .topnav a:hover {
  background-color: $black;
}

.hero .div-dot .dot.active-dot {
    background-color: $color_primary_work;
    border: solid 1px $white;
}

.hero .div-dot .dot {
  border-color: $color_primary_work;
}

.list-container .card-list .image-project {
  border: 1px solid $black;
}

.image-project {
  background-color: white;
}


.hero {
  .slideshow-container {
    .mySlides {
      padding: 0px 64px;
      display: flex;
      flex-direction: column;
      height: 300px;
      border: 1px solid $white;
      .carousel-title {
        position: static;
      }
      p {
        line-height: 1.6
      }
    }
  }
}
